<div class="fixed inset-0 bg-black/40 flex items-center justify-center">
  <div class="bg-white w-full max-w-md p-6 rounded-lg shadow-lg space-y-4">
    <div class="text-lg font-bold">Create Task</div>
    <form [formGroup]="form" (ngSubmit)="submit()" action="" class="space-y-3">
      <input type="text" placeholder="Title" formControlName="title" class="input" />
      <textarea
        name=""
        id=""
        class="input"
        placeholder="desc"
        formControlName="description"
      ></textarea>
      <select formControlName="priority" class="input">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
      </select>

      <input formControlName="dueDate" type="date" class="input" placeholder="Due Date" />
      <!-- <input formControlName="assignedTo" type="text" class="input" placeholder="assignedTo" /> -->
       <select formControlName="assignedTo" class="input">
        <option value="">Select User</option>
        @for(user of users$ | async; track $index){
        <option [value]="user._id">{{user.name}}</option>
       }
       </select>

      <div class="flex gap-2 items-center">
        <button class="btn bg-gray-400" type="button" (click)="close.emit()">Cancel</button>
        <button class="btn" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
